PORT=8000
MONGO_URI=mongodb://localhost:27017/user-manage-server

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

JWT_SECRET=change-me-in-production

BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3001
